In [7]:
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import pymysql

warnings.filterwarnings('ignore')
plt.rcParams['font.family'] = 'NanumGothicCoding'
plt.rcParams['font.size'] = 12
plt.rcParams['figure.dpi'] = 100

In [1]:
conn = pymysql.connect(user='mini1', passwd='mini1', host='127.0.0.1', db='mini1', charset='utf8')
curs = conn.cursor(pymysql.cursors.DictCursor)

NameError: name 'pymysql' is not defined

In [20]:
# 서울
sql = "SELECT * FROM elec WHERE local_id = 11"
curs.execute(sql)
datas = curs.fetchall()
seoul_df = pd.DataFrame(datas)

# 부산
sql = "SELECT * FROM elec WHERE local_id = 21"
curs.execute(sql)
datas = curs.fetchall()
busan_df = pd.DataFrame(datas)

# 대구
sql = "SELECT * FROM elec WHERE local_id = 22"
curs.execute(sql)
datas = curs.fetchall()
daegu_df = pd.DataFrame(datas)

# 인천
sql = "SELECT * FROM elec WHERE local_id = 23"
curs.execute(sql)
datas = curs.fetchall()
incheon_df = pd.DataFrame(datas)

# 광주
sql = "SELECT * FROM elec WHERE local_id = 24"
curs.execute(sql)
datas = curs.fetchall()
gwangju_df = pd.DataFrame(datas)

# 대전
sql = "SELECT * FROM elec WHERE local_id = 25"
curs.execute(sql)
datas = curs.fetchall()
daejeon_df = pd.DataFrame(datas)

# 울산
sql = "SELECT * FROM elec WHERE local_id = 26"
curs.execute(sql)
datas = curs.fetchall()
ulsan_df = pd.DataFrame(datas)

# 세종
sql = "SELECT * FROM elec WHERE local_id = 29"
curs.execute(sql)
datas = curs.fetchall()
sejong_df = pd.DataFrame(datas)

# 세종
sql = "SELECT * FROM elec WHERE local_id = 29"
curs.execute(sql)
datas = curs.fetchall()
sejong_df = pd.DataFrame(datas)

# 경기
sql = "SELECT * FROM elec WHERE local_id = 31"
curs.execute(sql)
datas = curs.fetchall()
gyeonggi_df = pd.DataFrame(datas)

# 강원
sql = "SELECT * FROM elec WHERE local_id = 32"
curs.execute(sql)
datas = curs.fetchall()
gangwon_df = pd.DataFrame(datas)

# 충북
sql = "SELECT * FROM elec WHERE local_id = 33"
curs.execute(sql)
datas = curs.fetchall()
chungbuk_df = pd.DataFrame(datas)

# 충남
sql = "SELECT * FROM elec WHERE local_id = 34"
curs.execute(sql)
datas = curs.fetchall()
chungnam_df = pd.DataFrame(datas)

# 전북
sql = "SELECT * FROM elec WHERE local_id = 35"
curs.execute(sql)
datas = curs.fetchall()
jeonbuk_df = pd.DataFrame(datas)

# 전남
sql = "SELECT * FROM elec WHERE local_id = 36"
curs.execute(sql)
datas = curs.fetchall()
jeonnam_df = pd.DataFrame(datas)

# 경북
sql = "SELECT * FROM elec WHERE local_id = 37"
curs.execute(sql)
datas = curs.fetchall()
gyeongbuk_df = pd.DataFrame(datas)

# 경남
sql = "SELECT * FROM elec WHERE local_id = 38"
curs.execute(sql)
datas = curs.fetchall()
gyeongnam_df = pd.DataFrame(datas)

# 제주
sql = "SELECT * FROM elec WHERE local_id = 39"
curs.execute(sql)
datas = curs.fetchall()
jeju_df = pd.DataFrame(datas)

8

In [ ]:
# conn.close()